/* banner ad */
body > table:first-child {
   display: none;
}

/* quick links */
div#userlinks:first-of-type {
   display: none;
}

/* navigation */
div#submenu {
   display: none;
}

script ~ div.borderwrap {
   border: none;
}

table ~ div.borderwrap {
   border: 1px solid #072a66;
}

/* google ads */
div#navstrip ~ p {
   display: none;
}

/* subforum listing */
div.borderwrap#fo_3,
div.borderwrap#fc_3 {
   display: none;
}

/* topic icon */
tbody tr > th:nth-of-type(2) {
   display: none;
}

tbody tr > td:nth-of-type(2) {
   display: none;
}

/* topic link */
td.row1 > div a[id^="tid-link-"] {
   text-decoration: none;
}

script ~ br { 
   display: none;
}
