/* quick links */
div#userlinks:first-of-type {
   display: none;
}

/* navigation */
div#submenu {
   display: none;
}

script ~ div.borderwrap {
   border: none;
}

table ~ div.borderwrap {
   border: 1px solid #072a66;
}

/* subforum listing */
div.borderwrap#fo_3,
div.borderwrap#fc_3 {
   display: none;
}

/* topic icon */
table.ipbtable tr > th:nth-of-type(2) {
   display: none;
}

table.ipbtable tr > td:nth-of-type(2) {
   display: none;
}

/* topic link */
table.ipbtable td.row1 > div > span > a[id^="tid-link-"] {
   text-decoration: none;
}

/* topic subtitle */
table.ipbtable td.row1 > div > div.desc > span[id^="tid-desc-"] {
   color: #888;
}

script ~ br { 
   display: none;
}
